/node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.idea/
/public/assets
/public/build
/public/uploads/*
/resources/assets/css/*
/resources/assets/img/*
!/resources/assets/css/common.css
!/resources/assets/css/fcommon.css
/resources/assets/js/*
/resources/assets/fonts
!/resources/assets/js/common.js
!/resources/assets/js/fcommon.js
/resources/assets/plugins
/public/vendor
/build/*
/resources/views/templete/*
/resources/views/layouts/*
_ide_helper.php
composer.lock
