*{
	margin:0;
	padding: 0;
}
html,body {
	position: relative;
	width: 100%;
  	font-family:"Microsoft YaHei",arial,sans-serif;
  	background:#fff;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  	font-family:'Source Sans Pro',"Microsoft YaHei",arial,sans-serif;
}
input{
	font-family:'Source Sans Pro',"Microsoft YaHei",arial,sans-serif;	
}
textarea{
  	resize: none;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
.clearfix{
	clear: both;
}
.container{
	width: 1200px;
	margin:0 auto;
}
/*header*/
header,.header{
	width: 100%;
}
.logo{
	width: 100%;
	height: 255px;
	background:url('../images/header-bg.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	margin-bottom: 5px;
	padding-top: 25px;
}
.nav{
	width: 100%;
	height: 75px;
	line-height: 75px;
	background: url('../images/nav-bg.png') no-repeat;
}	
.nav-list>li{
	width: 16.6%;
	float: left;	
	text-align: center;
}
.nav-list>li>a{
	display: block;
	width: 100%;
	height: 75px;
	position: relative;
	color: #fff;
	font-size: 24px;
	font-weight: lighter;
	letter-spacing: 1px;
}
.nav-list>li>a:hover{
	color: #ddd;
}
.nav-list>li>a:after{
	position: absolute;
	top: 25px;
	right: 0;
	content: '';
	display: block;
	width: 2px;
	height: 25px;
	background: #e08941;
}
.nav-list>li:last-child>a:after{
	width: 0;
}
.nav-list>li:first-child>a{
	color: #b9125c;
	font-weight: bold;
}
.nav-list>li:first-child>a:hover{
	color: #c11e64;
}
.nav-list>li:last-child{
	border-right: 0;
}
.nav-list>li:last-child>a{
	color: #d78746;	
}
.nav-list>li:last-child>a:hover{
	color: #e08941;	
}
.nav-list>li>a>img{
	margin-left: 5px;
	vertical-align: middle;
}
.notice{
	padding:25px 75px;
	background: url('../images/horn.png') no-repeat;
	background-position: 25px 25px;
	box-sizing: border-box;
}
.notice:after{
	content: '';
	display: block;
	height: 0;
	clear: both;
}
.notice-box{
	float: left;
	width: 100%;
	height: 25px;
	line-height: 25px;
	overflow:hidden;
}
.notice-box>ul>li>a{
	color: #b9125c;
	font-size: 18px;
}
.notice-box>ul>li>span{
	color: #333;
	font-size: 18px;
	padding-right: 5px;
}
.notice-box>ul>li>a:hover{
	text-decoration: underline;
}
.game-banner:after{
	content: '';
	display: block;
	height: 0;
	clear: both;	
}
.game-banner>ul>li{
	width: 20%;
	float: left;
	padding: 0 25px;
	box-sizing: border-box;
	transition: all .35s ease-out;
}
.game-banner>ul>li>a{
	transition: all .5s ease-out;
}
.game-banner>ul>li>a:hover:after{
	margin-top: -30px;
	content: '';
	display: block;
	width: 100%;
	height: 20px;
	box-shadow: 0px 5px 45px rgba(0,0,0,1);
}
.game-banner>ul>li>a>img{
	display: block;
	width: 100%;
}
/*footer*/
footer,.footer{
	width: 100%;
	height: 300px;
	background: url('../images/footer-bg.png') no-repeat;
	background-size: cover;
}
.footer-list{
	width: 100%;
	padding: 45px;
	box-sizing: border-box;
}
.footer-list:after{
	content: '';
	display: block;
	height: 0;
	clear: both;		
}
.footer-list>li{
	width: 16.666666666666667%;
	float: left;
}
.footer-list>li>a{
	font-size: 18px;
	color: #7d7d7d;
	letter-spacing: 1px;
}
.footer-list>li>a:hover{
	color: #ba135e;
}
.icon{
	display: block;
	float: left;
	width: 30px;
	height: 18px;
	overflow: hidden;
	background: url('../images/footer-btn.png') no-repeat;
	margin-right: 8px;
	margin-top: 3px;
}
.icon-1{background-position: 0px 0px;}
.icon-2{background-position: -30px 0px;}
.icon-3{background-position: -60px 0px;}
.icon-4{background-position: -90px 0px;}
.icon-5{background-position: -120px 0px;}
.icon-6{background-position: -150px 0px;}

.footer>.hr{
	width: 100%;
	height: 2px;
	background: #414141;
}
.copyright{
	padding: 0 45px;
	box-sizing: border-box;
	color: #515151;
	line-height: 150px;
}
.copyright>a{
	color: #515151; 
}
.copyright>a:hover{
	color: #ba135e;
}
.footer-logo{
	margin-top: 32px;
	float: right;
}
@media screen and (max-width: 1200px) {
	.header,.footer{
		width: 1200px;
	}
}
/*Home*/
.page-body{
	padding: 25px 0px 50px 0;
}
.page-body:after{
	content: '';
	display: block;
	height: 0;
	clear: both;
}
.column-box{
	width: 100%;
	margin-bottom: 50px;	
}
.column-box:after{
	content: '';
	display: block;
	height: 0;
	clear: both;	
}
.column-title{
	color: #b9125c;
	margin-bottom: 25px;
}
.column-title:after{
	content: '';
	display: block;
	height: 0;
	clear: both;	
}
.column-title>h2{
	font-size: 50px;
	font-weight: normal;
	float: left;
	padding-right: 15px;
}
.column-title>span{
	position: relative;
	display: inline-block;
	margin-top: 10px;
	padding-left: 15px;
	font-size: 18px;
}
.column-title>span:before{
	position: absolute;
	left: 0;
	top: 5px;
	content: '';
	display: block;
	width: 2px;
	height: 40px;
	background: #b9125c;
}
.news-left{
	width: 550px;
	float: left;
}
.news-left>.news-slide{
	width: 100%;
	overflow: hidden;
	position: relative;
}
.news-left>.news-slide>.slide-list{
	width: 1200%;
	transition-property:all;
	transition-timing-function: ease-out;
	transform: translate3d(0px, 0px, 0px);
}
.news-left>.news-slide>.slide-list>li{
	float: left;
}
.news-left>.news-slide>.slide-list>li>a>img{
	display: block;
}
.news-left>.news-slide>.slide-paging{
	position: absolute;
	right: 15px;
	bottom: 20px;
}
.news-left>.news-slide>.slide-paging>li{
	float: left;
	margin-left: 10px;
}
.news-left>.news-slide>.slide-paging>li>a{
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background: #969696;
}
.news-left>.news-slide>.slide-paging>.active>a{
	background: #b9125c;
}

.news-left>.news-list{
	width: 100%;
}
.news-left>.news-list>li{
	padding: 8px 0;
	font-size: 16px;
	border-bottom: 1px solid #918b8a;
}
.news-left>.news-list>li:last-child{
	border-bottom: 0;
}
.news-left>.news-list>li>.news-recommend{
	color: #b9125c;
	font-weight: bold;
	margin-right: 10px;
}
.news-left>.news-list>li>a{
	color: #333;
}
.news-left>.news-list>li>a:hover{
	text-decoration: underline;
}
.news-left>.news-list>li>.news-date{
	float: right;
	color: #b9125c;
	font-weight: bold;
}
.news-left>.news-list>li>.news-more{
	float: right;
	color: #b9125c;
	font-weight: bold;
}
.news-right{
	width: 620px;
	float: right;
}
.news-right>ul>li{
	width: 300px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}
.news-right>ul>li:nth-child(2n){
	margin-right: 0;
}
.news-right>ul>li>.news-game{
	position: relative;
	text-align: center;
}
.news-right>ul>li>.news-game>img{
	width: 300px;
	height: 155px;
}
.news-right>ul>li>.news-game>span{
	display: block;
	width: 100%;
	height: 36px;
	line-height: 36px;
	background: #b9125c;
	color: #fff;
	font-size: 16px;
}
.news-right>.search-box{
	margin-top: 5px;
	width: 100%;
	font-weight: 16px;
}
.news-right>.search-box>.search-hot{
	width: 320px;
	color: #b9125c;
	font-weight: bold;
	padding: 0 10px;
	box-sizing: border-box;
	float: left;
	line-height: 34px;
}
.news-right>.search-box>.search-hot>a{
	font-weight: normal;
	color: #b9125c;
	padding-right: 5px; 
}
.news-right>.search-box>.search-hot>a:hover{
	text-decoration: underline;
}
.news-right>.search-box>.search-form{
	width: 300px;
	float: right;
	font-size: 16px;
	position: relative;
}
.news-right>.search-box>.search-form>img{
	position: absolute;
	left: 9px;
	top: 9px;
}
.search-input{
	width: 180px;
	padding:6px 10px 6px 30px;
	background:linear-gradient(to bottom,#a6a6a6,#d3d3d3,#f9f9f9);
	outline: 0;
	border: 1px #a6a6a6 solid;
	box-shadow: 1px 1px 2px #000;
}
.search-submit{
	margin-left: -4px;
	width: 75px;
	height: 32px;
	color: #b9125c;
	font-size: 16px;
	background:linear-gradient(to top,#ccc,#ddd,#fff,#fff);
	outline: 0;
	border-width: 1px;
	cursor: pointer;
	border: 1px #a6a6a6 solid;
	box-shadow: 1px 1px 2px #000;
}
.search-submit:hover{
	background:#f1f1f1;
}

/*game*/
.game-list:after{
	content: '';
	height: 0;
	display: block;
	clear: both;
}
.game-list>li{
	float: left;
	margin-right: 5px;
	background: #f1f1f1;
}
.game-list>li:hover,.game-list>.active{
	background: #b9115e;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-bottom: 10px;
}
.game-list>li:hover>a,.game-list>.active>a{
	color: #fff;
}
.game-list>li>a{
	display: block;
	padding: 10px;
	color: #666;
}
.game-body{
	width: 100%;
}
.game-body>.game-box{
	display: none;
}
.game-body>.game-active{
	width: 100%;
	display: block;
}
.group-list{
	width: 100%;
	background: #b9115e;
	padding: 15px;
	padding-top: 30px;
	box-sizing: border-box;
	position: relative;
}
.group-hr{
	position: absolute;
	top:40px;
	display: block;
	height: 4px;
	background: #fff;
}
.group-list:after{
	content: '';
	height: 0;
	display: block;
	clear: both;	
}
.group-list>li{
	float: left;
	text-align: center;
	cursor: pointer;
	z-index: 10;
	position: relative;
}
.group-list>li:before{
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 20px;
	margin:0 auto;
	margin-bottom: 10px;
}
.group-list>li>a{
	display: block;
	color: #fff;
}
.group-list>.active:before{
	background: #ffcb30;
}
.group-list>.active>a{
	color: #ffcb30;
}
.group-body>.group-box{
	display: none;
	margin-top: 20px;
}
.group-body>.group-active{
	display: block;
}
.match-box{
	position: relative;
	width: 100%;
	padding: 0 50px;
	box-sizing: border-box;
}
.match-box:after{
	content: '';
	display: block;
	height: 0;
	clear: both;
}
.match-slide{
	width: 100%;
	overflow: hidden;
}
.match-list{
	width: 1200%;
	transform: translateX(0);
}
.match-list>li{
	width: 269px;
	margin-right: 8px;
	float: left;
	background: #d6d6d6;
	padding:20px;
	box-sizing: border-box;
	text-align: center;
}
.match-list>li>.match-time{
	color: #fff;
	font-size: 24px;
	margin-bottom: 15px;
	font-weight: lighter;
}
.team-a,.match-grade,.team-b{
	width: 33.3%;
	float: left;
}
.team-img{
	margin:0 auto;
	margin-bottom: 15px;
	width: 70px;
	height: 70px;
	line-height: 70px;
	border-radius: 70px;
	background: #fff;
	text-align: center;
}
.team-img>img{
    width: 80%;
    vertical-align: middle;
    border-radius: 100%;
    margin-top: -3px;
}
.match-grade{
	padding-top:10px;
	line-height: 1.5;
}
.match-grade:before {
	content: 'VS';
	color: #fff;
	font-weight: bold;
	font-size: 42px;
}
.match-grade>span{
	display: block;
	font-size: 30px;
	color: #b9115e;
}
.match-content:after{
	content: '';
	height: 0;
	display: block;
	clear: both;		
}
.match-link{
	display: inline-block;
	margin-top: 10px;
	padding: 4px 15px;
	border-radius: 15px;
	background: #fff;
	color: #5d5d5d;
	font-size: 16px;
}
.match-link:hover{
	background: #b9115e;
	color: #fff;
}
.left-arrow{
	position: absolute;
	left: 0;
	top: 75px;
}
.right-arrow{
	position: absolute;
	right: 0;
	top: 75px;
}
.map-search{
	width: 160px;
	padding:15px;
	float: left;
	background: #f1f1f1;
	font-size: 16px;
}
.map-search-box{
	margin-bottom: 20px;
	line-height: 1.8;
}
.map-search-box:after{
	content: '';
	display: block;
	height: 0;
	clear: both;	
}
.map-search-box>h3{
	font-size: 20px;
	font-weight: normal;
	color: #b9125c;
}
.city-list>li{
	width: 33.3%;
	float: left;
}
.city-list>li>a{
	color: #333;
}
.city-list>li>a:hover{
	color: #b9125c;
	text-decoration:underline;
}
.map-search-form{
	position: relative;
	display: inline-block;
}
.map-search-form>img{
	position: absolute;
	left: 7px;
	top: 7px;
}
.map-search-form>.search-input{
	width: 65px;
	padding:4px 10px 4px 25px;
}
.map-search-form>.search-submit{
	width: 40px;
	height: 28px;
}
.map-news{
	width: 1000px;
	float: right;
}
.map-news-box{
	width: 250px;
	height: 220px;
	margin-bottom: 10px;
	float: left;
	background: #eee;
}
.map-news-box>img{
	width: 100%;
	height: 100%;
}
.map-news-box>.map-news-site{
	display: block;
	margin:10px 0px 0px 10px;
	width: 90px;
	padding-bottom: 5px;
	color: #f99b00;
	font-size: 14px;
	border-bottom:2px solid #f99b00;
}
.map-news-box>h4{
	padding: 10px;
	font-size: 14px;
}
.map-news-box>p{
	padding: 0 10px;
	font-size: 14px;
	color: #999;
}

.link-list{
	padding: 10px;
}
.link-list>li{
	float: left;
	margin-right: 45px;
	margin-bottom: 45px;
}
.link-list>li>a>img{
	filter: contrast(0%);
	transition: all 0.3s ease;
}
.link-list>li>a>img:hover{
	filter: contrast(100%);
}

.side-bar{
	display: none;
	position: fixed;
	bottom:300px;
	left: 50%;
	margin-left: 650px;
	width: 100px;
	background: linear-gradient(to bottom,#ae1758,#ae1758,#ae1758,#fff);
}
.side-bar>ul{
	margin-left: 20px;
	margin-bottom: 60px;
	width: 80px;
}
.side-bar>ul>li{
	text-align: center;
	border-bottom: 1px solid #fff;
}
.side-bar>ul>li>a{
	display: block;
	padding: 12px 0;
	font-size: 16px;
	color: #fff;
}
.side-bar>ul>li:hover{
	border-bottom: 1px solid #e08941;
}
.side-bar>ul>li:hover>a{
	color: #e08941;
}
.side-bar>ul>.active{
	border-bottom: 1px solid #e08941;
}
.side-bar>ul>.active>a{
	color: #e08941;
}

/*article*/
.article-list{
	width: 775px;
	float: left;
	margin-top: 30px;
}
.article-list-header{
	width: 100%;
	height: 64px;
	background: #b9125c;
	padding: 0 20px;
	box-sizing: border-box;
}
.article-list-header>h1{
	color: #fff;
	font-size: 24px;
	line-height: 64px;
	float: left;
	font-weight: lighter;
	letter-spacing: 1px;
}
.news-search{
	float: right;
	line-height: 64px;
	display: inline-block;
	position: relative;
}
.news-search>input{
	padding: 6px 12px;
	width: 200px;
	border-radius: 6px;
	outline: 0;
	border:0;
	box-shadow: 1px 1px 10px rgba(0,0,0,.2);
}
.news-search>a{
	position: absolute;
	right: 0;
	top: 18px;
	display: block;
	width: 36px;
	height: 29px;
	line-height: 29px;
	background: #f7f7f7;
	outline: 0;
	border:0;
	text-align: center;
	border-left: 1px solid #ddd;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;	
}
.news-search>a:hover{
	background: #eee;
}
.news-search>a>img{
	vertical-align: middle;
}
.article-list-body{
	width: 100%;
}
.article-list-body>li{
	width: 100%;
	margin-top: 30px;
}
.article-list-body>li:after{
	content: '';
	display: block;
	height: 0;
	clear: both;
}
.article-list-img{
	width: 250px;
	float: left;
}
.article-list-img>img{
	width: 100%;
}
.article-list-content{
	width: 495px;
	padding: 0 15px;
	float: right;
	color: #565656;
}
.article-list-content>h3{
	font-size: 18px;
	font-weight: normal;
	margin-top: -5px;
}
.article-list-content>h3>a{
	color: #565656;
}
.article-list-content>h3>a:hover{
	color: #b9125c;
	text-decoration: underline;
}
.article-list-content>p{
	margin: 15px 0;
	line-height: 1.5;
}
.article-list-content>span{
	display: block;
	float: right;
}
.article-box{
	width: 775px;
	float: left;
	margin-top: 30px;
}
.article-header>h1{
	color: #b9125c;
	font-size: 40px;
	font-weight: normal;
}
.article-header>span{
	display: block;
	margin:20px 0;
	color: #d78746;
	font-size: 18px;
}
.article-header:after{
	content: '';
	display: block;
	height: 3px;
	width: 60px;
	background: #e08941;
	margin-bottom: 30px;
}
.article-content>p{
	line-height: 1.8;
	margin-bottom: 15px;
}
.article-content>img{
	display: block;
	margin:0 auto;
	max-width: 100%;
	margin-bottom: 15px;
}

.recommend-box{
	width: 375px;
	float: right;
	margin-top: 30px;
}
.box-default{
	margin-bottom: 40px;
}
.box-default:after{
	content: '';
	display: block;
	height: 0;
	clear: both;
}
.box-title{
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 2px solid #e08941;
}
.box-title:after{
	content: '';
	display: block;
	height: 0;
	clear: both;
}
.box-title>h3{
	color: #b9125c;
	font-size: 24px;
	float: left;
}
.box-title>a{
	float: right;
	font-weight: 800;
	color: #b9125c;
	font-size: 18px;	
	line-height: 2;
}
.box-title>a:hover{
	text-decoration: underline;
}
.news-recommend-list>li{
	font-size: 18px;
	line-height: 1.8;
}
.news-recommend-list>li>a{
	color: #565656;
}
.news-recommend-list>li>a:hover{
	text-decoration: underline;
	color: #333;
}
.news-recommend-list>li>span{
	float: right;
}
.video-recommend-list>li{
	margin-bottom: 30px;
}
.video-recommend-list>li:after{
	content: '';
	display: block;
	height: 0;
	clear: both;
}
.video-recommend-list>li:last-child{
	margin-bottom: 0;
}
.video-recommend-list>li{
	width: 165px;
	font-size: 16px;
	margin-right: 45px;
	float: left;
}
.video-recommend-list>li:nth-child(2n){
	margin-right: 0px;
}
.video-recommend-list>li>a{
	color: #565656;
}
.video-recommend-list>li>a:hover{
	text-decoration: underline;
}
.video-recommend-list>li>a>img{
	width: 165px;
	height: 100px;
}
.video-recommend-list>li>span{
	display: block;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}

/*Pagination*/
.pagination{
	margin-top: 30px;
	float: right;
}
.pagination>li{
	width: 37px;
	height: 37px;
	line-height: 30px;
	margin-right: 5px;
	float: left;
	text-align: center;
	background: url('../images/pag-default.png') no-repeat;
	background-position: -37px 0;
}
.pagination>li>a{
	display: block;
	width: 37px;
	height: 37px;
	color: #585256;
	text-shadow: 0px 0px 1px rgba(0,0,0,.25);
}
.pagination>.active{
	background-position: 0 0;
	cursor: not-allowed;
}
.pagination>li:hover{
	background-position: 0 0;
}
.pagination>.prev{
	width: 79px;
	background: url('../images/pag-prev.png') no-repeat;
	background-position: 0 0;
}
.pagination>.prev>a{
	width: 79px;
	text-indent: -9999px;
}
.pagination>.prev:hover{
	background-position: -79px 0;
}
.pagination>.next{
	width: 79px;
	background: url('../images/pag-next.png') no-repeat;
	background-position: 0 0;
}
.pagination>.next>a{
	width: 79px;
	text-indent: -9999px;
}
.pagination>.next:hover{
	background-position: -79px 0;
}

/*result*/
.search-result{
	width: 775px;
	float: left;
	margin-top: 30px;	
}
.search-list{
	width: 100%;
	background: #fff;
	padding: 10px 15px;
	box-sizing: border-box;
}
.gray-box{
	background: #eaeaea;
}
.search-list>li{
	font-size: 14px;
	line-height: 2;
	color: #565656;
}
.search-list>li>.news-label{
	color: #b31259;
	margin-right: 5px;
	font-style: normal;
}
.search-list>li>a{
	color: #565656;
}
.search-list>li>a:hover{
	text-decoration: underline;
}
.search-list>li>span{
	float: right;
}

/*map*/
.col-md-4{
	width: 33.3%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.map-header{
	width: 100%;
	background-color: #b9125c;
	padding: 45px;
	box-sizing: border-box;
}
.map-header:after{
	content: '';
	display: block;
	height: 0;
	clear: both;
}
.city-header{
	width: 100%;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 2px solid #fff;
}
.city-header>h4{
	font-size: 16px;
	font-weight: bold;
	color: #fff;
}
.map-list>li{
	line-height: 2;
}
.map-list>li>a{
	color: #fff;
	margin-right: 10px;
}
.map-list>li>a:hover{
	text-decoration: underline;
}
.venue-list{
	margin: 25px 0;
	width: 100%;
}
.venue-list>li{
	width: 250px;
	float: left;
	margin-right: 66.67px;
	margin-bottom: 30px;
	line-height: 1.5;
}
.venue-list>li:nth-child(4n){
	margin-right: 0;
}
.venue-list>li img{
	width: 250px;
	height: 210px;
}
.venue-list>li>h3>a{
	font-size: 16px;
	color: #565656;
}
.venue-list>li>h3>a:hover{
	color: #b9125c;	
}
.venue-list>li>p{
	font-size: 14px;
}
.venue-header{
	width: 100%;
	padding: 15px 45px;
	box-sizing: border-box;
	background-color: #b9125c;
	margin-bottom: 45px;
}
.venue-header:after{
	content: '';
	display: block;
	height: 0;
	clear: both;	
}
.venue-header>img{
	height: 30px;
	float: left;
}
.venue-header>h1{
	float: left;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	font-weight: normal;
	padding-left: 30px;
	margin-left: 30px;
	color: #fff;
	border-left: 1px solid #fff;
}
.venue-box{
	margin-bottom: 45px;
}
.venue-box>h3{
	font-size: 30px;
	font-weight: normal;
	color: #4e4e4e;
	padding-left: 45px;
	margin-bottom: 15px;
}
.venue-text{
	width: 100%;
	box-sizing: border-box;
	border: 1px dashed #ccc;
	padding:15px 45px;
	line-height: 2;
}
.venue-pic{
	width: 100%;
	box-sizing: border-box;
	border: 1px dashed #ccc;
	padding:15px 45px;
	overflow: hidden;
	position: relative;
}
.venue-pic>.left-arrow,.venue-pic>.right-arrow{
	bottom: 45px;
	top: inherit;
}
#picSlide{
	width: 1200%;
	height: 150px;
	box-sizing: border-box;
}
#picSlide>li{
	height: 100%;
	margin-right: 15px;
	float: left;
}
#picSlide>li>img{
	height: 100%;
}

.reg-banner{
	width: 100%;
	margin-bottom: 45px;
}
.reg-banner img{
	width: 100%;
	margin-bottom: 10px;
}
.reg-banner p{
	line-height: 2;
	font-size: 18px;
}
.reg-info{
	width: 100%;
	margin-bottom: 45px;	
}
.reg-info>.info-header{
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #b9125c;
}
.reg-info>.info-header>h3{
	padding-left: 15px;
	color: #fff;
}
.reg-info>.info-body{
	margin-top:25px;
	padding-left: 15px;
}
.reg-info>.info-body>p{
	line-height: 2;
	color: #565656;
}
.form-group{
	margin-bottom: 15px;
}
.reg-form>h3{
	color: #b9125c;
	margin-top: 30px;
	margin-bottom: 15px;
}
.form-group:after{
	content: '';
	display: block;
	height: 0;
	clear: both;
}
.form-group label{
	width: 100px;
	float: left;
	line-height: 35px;
}
.form-control {
	float: left;
    display: block;
    line-height: 36px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #565656;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family:"Microsoft YaHei",arial,sans-serif;
}
.member-list {
	margin-bottom: 30px;
}
.member-list thead{
    height: 36px;
    line-height: 36px;
} 
.btn {
    display: block;
    padding: 6px 20px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
	font-family:"Microsoft YaHei",arial,sans-serif;
	background-color: #b9125c;
    border-color: #b9125c;
    color: #fff;
}
.btn:hover{
	background-color: #8a0d44;
}
.checkbox{
	text-align: center;
}

/*video*/
.video-list-body{
	width: 100%;
}
.video-list-body:after{
	content: '';
	display: block;
	height: 0;
	clear: both;
}
.video-list-body>li{
	width: 285px;
	margin-top: 20px;
	margin-right: 20px;
	line-height: 1.5;
	float: left;
}
.video-list-body>li:nth-child(4n){
	margin-right: 0;
}
.video-list-body>li>h3{
	margin-top: 5px;
}
.video-list-body>li>h3>a{
	font-size: 16px;
	font-weight: bold;
	color: #000;
}
.video-list-body>li>h3>a:hover{
	color: #b9125c;
}
.video-list-body>li>p{
	font-size: 14px;
}
.video-time{
	float: right;
}
.video-img{
	display: block;
	position: relative;
	transition: all 0.35s ease-out;
}
.video-img>img{
	width: 285px;
	height: 148px;
	display: block;
}
.hover-cover{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 8;
	width: 285px;
	height: 148px;	
	background: #000;
	opacity: 0.25;
	transition: all 0.35s ease-out;
}
.video-img:hover{
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.video-img:hover>.hover-cover{
	opacity: 0;
}
.play-btn{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	display: block;
	width: 285px;
	height: 148px;
	background: url('../images/play-btn.png') no-repeat;
	background-position: center;
}